# 04. list (리스트)
---

## **[1] 리스트란?**
- 요소들의 모음을 나타내는 자료형
- 모든 자료형을 담을 수 있음

In [1]:
ls = []
type(ls)

list

In [2]:
# 생성
ls_1 = []
print(ls_1)

ls_2 = [1, 'apple', 3.14, [2, 4, 6], {}]
print(ls_2)

# range 사용
ls_3 = list(range(1, 11))
print(ls_3)

# 홀수만
print(ls_3[::2])

# 짝수만
print(ls_3[1::2])

[]
[1, 'apple', 3.14, [2, 4, 6], {}]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [3]:
# 리스트 안의 리스트
ls_4 = [1, [2, 3], [4, 5, [6, 7]]]
print(ls_4[2])
print(ls_4[2][2])
print(ls_4[2][2][-1])

[4, 5, [6, 7]]
[6, 7]
7

## **[2] 리스트 인덱싱, 슬라이싱**

In [4]:
fruits = ['apple', 'banana', 'cherry', 'mango']

print(fruits[0])
print(fruits[-1])
print(fruits[1:3])
print(fruits[:2])

apple
mango
['banana', 'cherry']
['apple', 'banana']

## **[3] 주요 함수**
1. 값 추가: `append`, `insert`
2. 값 제거: `remove`, `del`, `pop`, `clear`
3. 값 검색: `index`
4. 값 카운팅: `count`
5. 리스트 정렬: `sort`, `sorted`, `reverse`
6. 리스트 복사: `copy`
7. 리스트 확장: `extend`
8. 중복값 제거: `set`

### **1. 값 추가**
### **`x.append(v)`**
- x: 리스트명
- v: 추가할 값
- 맨 끝에 값 추가

In [5]:
fruits = ['apple', 'banana', 'cherry', 'mango']
print('원본: ', fruits)

fruits.append('orange')
print('추가 후: ', fruits)

원본:  ['apple', 'banana', 'cherry', 'mango']
추가 후:  ['apple', 'banana', 'cherry', 'mango', 'orange']

### **`x.insert(n, v)`**
- x: 리스트명
- n: 추가할 인덱스 위치
- v: 추가할 값

In [6]:
fruits = ['apple', 'banana', 'cherry', 'mango']

fruits.insert(0, "orange")
print(f'0번 위치에 orange 추가: {fruits}')

0번 위치에 orange 추가: ['orange', 'apple', 'banana', 'cherry', 'mango']

### **2. 값 제거**
### **`x.remove(v)`**
- x: 리스트명
- v: 제거할 값

In [7]:
fruits = ['apple', 'banana', 'cherry', 'mango']
print('원본: ', fruits)

fruits.remove('banana')
print('제거 후: ', fruits)

원본:  ['apple', 'banana', 'cherry', 'mango']
제거 후:  ['apple', 'cherry', 'mango']

### **`del x[n]`**
- x: 리스트명
- n: 제거할 인덱스

In [8]:
fruits = ['apple', 'banana', 'cherry', 'mango']
print('원본: ', fruits)

del fruits[0]
print('제거 후: ', fruits)

원본:  ['apple', 'banana', 'cherry', 'mango']
제거 후:  ['banana', 'cherry', 'mango']

### **`x.pop(n)`**
- x: 리스트명
- n: 제거할 인덱스 (기본값: 마지막 값)
- <u>제거값 반환</u> 가능

In [9]:
fruits = ['apple', 'banana', 'cherry', 'mango']
print('원본: ', fruits)

# 기본값: 마지막 값 제거
del_fruit = fruits.pop()
print('마지막 과일 제거: ', del_fruit)
print('제거 후: ', fruits)

# 0번 제거 설정
del_fruit = fruits.pop(0)
print('0번 과일 제거: ', del_fruit)
print('제거 후: ', fruits)

원본:  ['apple', 'banana', 'cherry', 'mango']
마지막 과일 제거:  mango
제거 후:  ['apple', 'banana', 'cherry']
0번 과일 제거:  apple
제거 후:  ['banana', 'cherry']

### **`x.clear()`**
- x: 리스트명
- 리스트의 모든 값을 제거

In [10]:
fruits.clear()
print('모든 값 삭제: ', fruits)

모든 값 삭제:  []

### **3. 값 검색**
### **`x.index(v)`**
- x: 리스트명
- v: 검색할 값
- 특정 값의 <u>인덱스</u>를 반환
- 값이 없는 경우, ValueError 반환
    - if value in list: 로 값을 먼저 확인하자.

In [11]:
fruits = ['apple', 'banana', 'cherry', 'mango']
print(fruits.index('apple'))

0

### **4. 값 카운팅**
### **`x.count(v)`**
- x: 리스트명
- v: 검색할 값
- 특정 값이 <u>리스트에 몇 번 등장</u>하는지 반환
- 값이 없는 경우, 0 반환

In [12]:
fruits = ['apple', 'banana', 'cherry', 'mango', 'apple']
print(fruits.count('apple'))

2

### **5. 리스트 정렬**
### **`x.sort(reverse=)`**
- x: 리스트명
- reverse:
    - False: 오름차순 (기본값)
    - True: 내림차순
- 리스트 자체의 정렬을 변환함

In [13]:
num = [8, 3, 9, 1, 4, 2, 5, 10, 7, 6]
print('원본: ', num)

# print 할 때, num 원본을 출력하여 변환을 확인
num.sort()
print('sort 오름차순 정렬: ', num)

num.sort(reverse = True)
print('sort 내림차순 정렬: ', num)

원본:  [8, 3, 9, 1, 4, 2, 5, 10, 7, 6]
sort 오름차순 정렬:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sort 내림차순 정렬:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### **`sorted(x. reverse=)`**
- x: 리스트명
- reverse:
    - False: 오름차순 (기본값)
    - True: 내림차순
- 리스트를 정렬해서 출력만 함

In [14]:
num = [8, 3, 9, 1, 4, 2, 5, 10, 7, 6]
num_1 = sorted(num)
num_2 = sorted(num, reverse='True')

print('원본: ', num)
print('sorted 오름차순 정렬: ', num_1)
print('sorted 내림차순 정렬: ', num_2)

원본:  [8, 3, 9, 1, 4, 2, 5, 10, 7, 6]
sorted 오름차순 정렬:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sorted 내림차순 정렬:  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### **`x.reverse()`**
- x: 리스트명
- 기존 리스트를 역정렬

In [15]:
num = [1, 2, 3, 4, 5]
print('정렬 전: ', num)

num.reverse()
print('정렬 후: ', num)

num.reverse()
print('재 역정렬: ', num)

정렬 전:  [1, 2, 3, 4, 5]
정렬 후:  [5, 4, 3, 2, 1]
재 역정렬:  [1, 2, 3, 4, 5]

### **6. 리스트 복사**
### **`x.copy()`**
- x: 리스트명
- 리스트는 복사할 때 메모리도 함께 복사됨

In [16]:
data = [1, 2, 3]
new_data = data.copy()
new_data.append(4)

# id가 다름
print('원본 데이터: ', data, id(data))
print('복사된 데이터: ', new_data, id(new_data))

원본 데이터:  [1, 2, 3] 4428881728
복사된 데이터:  [1, 2, 3, 4] 4428974784

In [17]:
# 참조복사
data = [1, 2, 3]
new_data = data
new_data.append(4)

# id가 같음
print('원본 데이터: ', data, id(data))
print('복사된 데이터: ', new_data, id(new_data))

원본 데이터:  [1, 2, 3, 4] 4428885632
복사된 데이터:  [1, 2, 3, 4] 4428885632

### **7. 리스트 확장**
### **`x.extend(a)`**
- x: 값을 추가할 리스트
- a: 추가할 값을 가진 리스트

In [18]:
ls_1 = ['apple', 1000, True]
ls_2 = [5, 2, 4, 3, 1]

ls_1.extend(ls_2)
print(ls_1)

['apple', 1000, True, 5, 2, 4, 3, 1]

### **8. 중복값 제거**
### **`set(x)`**
- x: 리스트명
- 집합(set)은 중복을 허용하지 않는다는 점을 응용

In [19]:
data = [1, 2, 3, 3, 3, 3]
set_data = set(data)

print(set_data)
print(type(set_data))

{1, 2, 3}
<class 'set'>