# 05. tuple (튜플)
---

## **[1] 튜플이란?**
- <u>불변(Immutable)</u> 데이터 타입
- 저장 순서를 유지하며, 중복을 허용함
- 읽기 전용으로 수정, 삭제 불가

In [1]:
tp = ()
type(tp)

tuple

In [2]:
# 생성
tp_1 = ()
tp_2 = (1, 2, 3, 4, 5)
tp_3 = (1, 'hello', 3.14, [2, 4, 6], {'key': 'value'})

print(tp_1)
print(tp_2)
print(tp_3)

()
(1, 2, 3, 4, 5)
(1, 'hello', 3.14, [2, 4, 6], {'key': 'value'})

In [3]:
fruits = ('apple', 'banana', 'cherry')

# 인덱싱
print(fruits[0])
print(fruits[-1])

# 슬라이싱
print(fruits[:2])
print(fruits[::-1])

apple
cherry
('apple', 'banana')
('cherry', 'banana', 'apple')

In [4]:
# for를 사용한 출력
fruits = ('apple', 'banana', 'cherry')

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [5]:
# 1부터 10까지의 정수 중 짝수만 저장한 튜플
print(tuple(range(2, 11, 2)))

(2, 4, 6, 8, 10)

## **[2] 튜플 언패킹**
- 튜플을 역으로 변수에 할당한다.

In [6]:
fruits = ('apple', 'banana', 'cherry')
fruit_1, fruit_2, fruit_3 = fruits

print(fruit_1)
print(fruit_2)
print(fruit_3)

apple
banana
cherry

## **[2] 주요 함수**
1. 요소 개수 카운팅: `count`
2. 요소 인덱스 반환: `index`
3. 요소를 하나의 문자열로 병합: `join`

### **1. 요소 개수 카운팅**
### **`x.count(v)`**
- x: 튜플명
- v: 찾을 값

In [7]:
fruits = ('사과', '딸기', '바나나', '파인애플', '사과')
cnt = fruits.count('사과')

print('사과는 ', cnt, '개')

사과는  2 개

### **2. 요소 인덱스 반환**
### **`x.index(v)`**
- x: 튜플명
- v: 찾을 값

In [8]:
fruits = ('사과', '딸기', '바나나', '파인애플', '사과')
index = fruits.index('딸기')

print('딸기의 인덱스: ', index)

딸기의 인덱스:  1

### **3. 요소를 하나의 문자열로 병합**
### **`' '.join(x)`**
- x: 튜플명
- 공백 연결문자를 삽입하여 하나의 문자열로 병합
- 문자형으로 반환

In [9]:
str_1 = ('a', 'b', 'c', 'd', 'e')
str_2 = ' '.join(str_1)

print('원본: ', str_1)
print('변환 후: ', str_2)
print('변환 후 타입: ', type(str_2))

원본:  ('a', 'b', 'c', 'd', 'e')
변환 후:  a b c d e
변환 후 타입:  <class 'str'>

## **[4] 튜플과 lambda**
### **`key=lambda 인자: 표현식`**

In [10]:
# 5개의 튜플을 요소로 갖는 하나의 튜플
# 각 요소는 2개의 값으로 구성되어 있음 (다중 튜플)
ex = (('a', 1), ('b',7), ('c', 3), ('d', -5), ('e', -9))

# 튜플의 첫번째 요소로 전체에서 max/min값 찾기
# 튜플의 첫번째 요소: ('a', 1) 에서 'a'
print(max(ex, key=lambda x: x[0]))
print(min(ex, key=lambda x: x[0]))

# 튜플의 두번째 요소로 전체에서 max/main값 찾기
# 튜플의 두번째 요소: ('a', 1) 에서 1
print(max(ex, key=lambda x: x[1]))
print(min(ex, key=lambda x: x[1]))

('e', -9)
('a', 1)
('b', 7)
('e', -9)

In [11]:
ex = (('a', 1), ('b',7), ('c', 3), ('d', -5), ('e', -9))

# 두번째 요소의 절댓값을 기준으로 최댓값 탐색
print(max(ex, key=lambda x: abs(x[1])))

# 두번째 요소의 절댓값을 기준으로 최솟값 탐색
print(min(ex, key=lambda x: abs(x[1])))

('e', -9)
('a', 1)

In [12]:
tp_ex = (('a', 1), ('b',7), ('c', 3), ('d', -5), ('e', -9))

# 리스트에 적용
ls_ex = list(tp_ex)

# 두번째 요소(숫자)를 기준으로 오름차순 정렬
print(sorted(ls_ex, key=lambda x: x[1]))

# 두번째 요소(숫자)를 기준으로 내림차순 정렬
print(sorted(ls_ex, key=lambda x: x[1], reverse=True))

# 두번째 요소(숫자)를 기준으로 절댓값순 정렬
print(sorted(ls_ex, key=lambda x: abs(x[1])))

[('e', -9), ('d', -5), ('a', 1), ('c', 3), ('b', 7)]
[('b', 7), ('c', 3), ('a', 1), ('d', -5), ('e', -9)]
[('a', 1), ('c', 3), ('d', -5), ('b', 7), ('e', -9)]

In [13]:
# 2번째 요소의 평균 값을 기준으로 내림차순 정렬하여 출력
tp_ex = (('a', [1, 10, 2, 2]), ('b', [5, 2, 19, 2]), ('c', [8, 11, 91, 1]), ('d', [10, 56, 23, 6]), ('e', [38, 19, 47, 2]))
sorted(tp_ex, key=lambda x: sum(x[1]) / len(x[1]), reverse=True)

[('c', [8, 11, 91, 1]),
 ('e', [38, 19, 47, 2]),
 ('d', [10, 56, 23, 6]),
 ('b', [5, 2, 19, 2]),
 ('a', [1, 10, 2, 2])]