# 08. boolean (불리언)
---

## **[1] 불리언이란?**
- True 또는 False 값만 가질 수 있는 데이터 타입
- 대부분의 값은 참(True, 1)
- 거짓(False): None, 0, "", '', [], (), {}

In [1]:
print(True == 1)
print(False == 0)
print(True + 1)
print(False * 10)

True
True
2
0

## **[2] 주요 연산**
1. 논리 연산자
2. 비교 연산자
3. 값 비교

### **1. 논리 연산자**
- and: 둘 다  True면 True 반환
- or: 둘 중 하나가 True면 True 반환
- not: 반대값 반환

In [2]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

### **2. 비교 연산자**
| 연산자 | 설명 | 예시 | 결과 |
| --- | --- | --- | --- |
| `==` | 같음 | `1 == 1` | `True` |
| `!=` | 같지 않음 | `1 != 1` | `False` |
| `<` | 작음 | `5 < 10` | `True` |
| `>` | 큼 | `5 > 10` | `False` |
| `<=` | 작거나 같음 | `2 <= 4` | `True` |
| `>=` | 크거나 같음 | `2 >= 4` | `False` |

### **3. 값 비교**

In [3]:
# 참으로 평가되는 값
print(bool(1))
print(bool('hello'))
print(bool([1, 2]))

# 거짓으로 평가되는 값
print(bool(0))
print(bool(''))
print(bool([]))

True
True
True
False
False
False

## **[3] 유용한 함수**
1. 하나라도 참이면 True 반환: `any`
2. 모두 참이면 True 반환: `all`
3. 값 포함 여부 확인: `in`, `not in`

### **1. 하나라도 참이면 True 반환**
### **`any(iter)`**
- iter: 리스트, 튜플 등 반복 가능한 객체

In [4]:
values = [0, 0, 1]
print(any(values))

True

### **2. 모두 참이면 True 반환**
### **`all(iter)`**
- iter: 리스트, 튜플 등 반복 가능한 객체

In [5]:
values = [1, 2, 3]
print(all(values))

values = [1, 0, 3]
print(all(values))

True
False

### **3. 값 포함 여부 확인**
### **`'a' in x`, `'a' not in x`**
- a: 찾을 값
- x: 검색할 자료형 변수

In [6]:
text = 'ABC'

print('A' in text)
print('A' not in text)
print('D' in text)
print('D' not in text)

True
False
False
True

In [7]:
num = 1, 2, 3, 4, 5

print(0 in num)
print(0 not in num)
print(1 in num)
print(1 not in num)

False
True
True
False