# 11. for (반복문)
---

## **[1] 기본 구조**
```python
for 변수 in 시퀀스:
    실행할 코드
```
- 시퀀스: range(), 문자열, 리스트, 튜플과 같이 순서가 있는 데이터형
- 정해진 횟수를 반복할때 자주 쓰임

In [1]:
for i in range(10):
    print('hello world', i)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4
hello world 5
hello world 6
hello world 7
hello world 8
hello world 9

In [2]:
# 문자열 출력
text = 'Python'
for i in text:
    print(i)

P
y
t
h
o
n

In [3]:
# 리스트 출력
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [4]:
# 튜플 출력
nums =(1, 2, 3)

for i in nums :
    print(i)

for i in range(len(nums)):
    # 마지막엔 쉼표 넣지 않기
    if i < len(nums) - 1:
        print(nums[i], end=', ')
    else:
        print(nums[i])

1
2
3
1, 2, 3

In [5]:
# 딕셔너리 출력
dic = {1: 'A', 2: 'B', 3: 'C'}

for k, v in dic.items():
    print(k, ': ', v)

1 :  A
2 :  B
3 :  C

In [6]:
# 구구단 출력 (2 ~ 3단만)
for i in range(2, 4):
    print('*', i, '단 *')
    for j in range(1, 10):
        print(i, ' X ', j, ' = ', i*j)
    print('')

* 2 단 *
2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18

* 3 단 *
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27

In [7]:
# 역순 출력
text_1 = 'Hello, Python'
text_2 = ''
for i in text_1:
    text_2 = i + text_2
    print(text_2)

H
eH
leH
lleH
olleH
,olleH
 ,olleH
P ,olleH
yP ,olleH
tyP ,olleH
htyP ,olleH
ohtyP ,olleH
nohtyP ,olleH

In [8]:
# 숫자 맞추기
import random
number = random.randint(1, 100)

for i in range(5):
    guess = int(input('숫자 입력 (1~100): '))
    if number > guess:
        print('Up')
    elif number < guess:
        print('Down')
    else:
        print('정답')
        break

if number != guess:
    print('GAME OVER, 정답: ', number)

숫자 입력 (1~100):  50

Down

숫자 입력 (1~100):  25

Down

숫자 입력 (1~100):  10

Up

숫자 입력 (1~100):  20

Up

숫자 입력 (1~100):  23

정답

## **[2] 키워드**
1. 반복문 즉시 종료: `break`
2. 다음 반복으로 넘어가기: `continue`
3. 아무 작업도 하지않고 반복문 유지: `pass`

### **1. 반복문 즉시 종료**
### **`break`**

In [9]:
for i in range(5):
    if i == 3:
        # 3에서 멈춤
        break
    print(i)

0
1
2

### **2. 다음 반복으로 넘어가기**
### **`continue`**
- 현재 반복은 건너뜀

In [10]:
for i in range(6):
    if i == 3:
        # 3을 건너뜀
        continue
    print(i)

0
1
2
4
5

### **3. 아무 작업도 하지 않고 반복문 유지**
### **`pass`**

In [11]:
for i in range(5):
    if i == 3:
        # 3이 되더라도 작업 없음
        pass
    print(i)

0
1
2
3
4

## **[3] 주요 함수**
1. 숫자 범위 생성: `range`
2. 인덱스, 값 가져오기: `enumerate`
3. 시퀀스 동시 순회: `zip`
4. 역순회: `reversed`

### **1. 숫자 범위 생성**
### **`range(start=, stop=, step=)`**
- start: 시작값 (기본값: 0)
- stop: 종료값 (미포함)
- step: 생성 간격

In [12]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

### **2. 인덱스, 값 가져오기**
### **`a, b in enumerate(v)`**
- a: 인덱스 변수명
- b: 값 변수명
- v: 시퀀스명

In [13]:
fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

### **3. 시퀀스 동시 순회**
### **`a, b in zip(c, d)`**
- a: 시퀀스1 변수명
- b: 시퀀스2 변수명
- c: 시퀀스1
- d: 시퀀스2

In [14]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

for name, age in zip(names, ages):
    print('name: ', name, '\n', 'age: ', age)

name:  Alice
 age:  25
name:  Bob
 age:  30
name:  Charlie
 age:  35

### **4. 역순회**
### **`reversed(a)`**
- a: 순회할 시퀀스명
- [::-1]과 동일한 기능

In [15]:
for text in reversed([1, 2, 3, 4, 5]):
    print(text)

5
4
3
2
1

In [16]:
# [::-1] 사용
for text in [1, 2, 3, 4, 5][::-1]:
    print(text)

5
4
3
2
1